<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #333333">.</span>round<span style="color: #333333">-</span>icon {
  <span style="color: #AA6600">height</span>: <span style="color: #0000DD; font-weight: bold">100</span>px;
  <span style="color: #AA6600">width</span>: <span style="color: #0000DD; font-weight: bold">100</span>px;
  background<span style="color: #333333">-</span><span style="color: #AA6600">color</span>: <span style="color: #888888">#4185F4;</span>
  border<span style="color: #333333">-</span><span style="color: #AA6600">radius</span>: <span style="color: #0000DD; font-weight: bold">50</span><span style="color: #DD2200; background-color: #fff0f0">%;</span>
<span style="color: #DD2200; background-color: #fff0f0">  margin: 25px;</span>
  <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span><span style="color: #AA6600">animation</span>: fly<span style="color: #333333">-</span><span style="color: #008800; font-weight: bold">in</span><span style="color: #333333">-</span>from<span style="color: #333333">-</span>bottom <span style="color: #0000DD; font-weight: bold">1</span>s <span style="color: #0000DD; font-weight: bold">1</span> ease<span style="color: #333333">-</span>out;
}

<span style="color: #888888">#icon-1 {</span>
  <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span><span style="color: #AA6600">duration</span>: <span style="color: #333333">.</span><span style="color: #0000DD; font-weight: bold">5</span>s;
}

<span style="color: #888888">#icon-2 {</span>
  <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span><span style="color: #AA6600">duration</span>: <span style="color: #333333">.</span><span style="color: #0000DD; font-weight: bold">3</span>s;
}

<span style="color: #888888">#icon-3 {</span>
  <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span><span style="color: #AA6600">duration</span>: <span style="color: #333333">.</span><span style="color: #0000DD; font-weight: bold">4</span>s;
}

<span style="color: #888888">#icon-4 {</span>
  <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span><span style="color: #AA6600">duration</span>: <span style="color: #333333">.</span><span style="color: #0000DD; font-weight: bold">6</span>s;
}

<span style="color: #888888">#icon-5 {</span>
  <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span><span style="color: #AA6600">duration</span>: <span style="color: #333333">.</span><span style="color: #0000DD; font-weight: bold">4</span>s;
}

<span style="color: #888888">#icon-6 {</span>
  <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span><span style="color: #AA6600">duration</span>: <span style="color: #333333">.</span><span style="color: #0000DD; font-weight: bold">8</span>s;
}

<span style="color: #FF0000; background-color: #FFAAAA">@</span><span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>keyframes fly<span style="color: #333333">-</span><span style="color: #008800; font-weight: bold">in</span><span style="color: #333333">-</span>from<span style="color: #333333">-</span>bottom {
  <span style="color: #0000DD; font-weight: bold">0</span><span style="color: #333333">%</span>    { <span style="color: #AA6600">transform</span>: translateY(<span style="color: #0000DD; font-weight: bold">50</span>em); }
  <span style="color: #0000DD; font-weight: bold">100</span><span style="color: #333333">%</span>  { <span style="color: #AA6600">transform</span>: translateY(<span style="color: #0000DD; font-weight: bold">0</span>em); }
}
</pre></div>
