<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #333333">.</span>rotating {
    <span style="color: #AA6600">height</span>: <span style="color: #0000DD; font-weight: bold">125</span>px;
    <span style="color: #AA6600">width</span>: <span style="color: #0000DD; font-weight: bold">125</span>px;
    background<span style="color: #333333">-</span><span style="color: #AA6600">color</span>: <span style="color: #888888">#4185F4;</span>
    <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span><span style="color: #007020">name</span>: rotate;
    <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span><span style="color: #AA6600">duration</span>: <span style="color: #0000DD; font-weight: bold">4</span>s;
    <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span>iteration<span style="color: #333333">-</span><span style="color: #AA6600">count</span>: infinite;
    <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>animation<span style="color: #333333">-</span>timing<span style="color: #333333">-</span><span style="color: #AA6600">function</span>: linear;

    <span style="color: #000000; background-color: #fff0ff">/*shorthand*/</span>
    <span style="color: #000000; background-color: #fff0ff">/*-webkit-animation-name: rotate 4s infinite linear;*/</span>
}

<span style="color: #FF0000; background-color: #FFAAAA">@</span><span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>keyframes rotate {
    from {<span style="color: #333333">-</span>webkit<span style="color: #333333">-</span><span style="color: #AA6600">transform</span>: rotate(<span style="color: #0000DD; font-weight: bold">0</span>deg);}
    to {<span style="color: #333333">-</span>webkit<span style="color: #333333">-</span><span style="color: #AA6600">transform</span>: rotate(<span style="color: #0000DD; font-weight: bold">360</span>deg);}
}
</pre></div>
