<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">    <span style="color: #333333">.</span>square<span style="color: #333333">-</span>to<span style="color: #333333">-</span>circle {
      <span style="color: #AA6600">height</span>: <span style="color: #0000DD; font-weight: bold">125</span>px;
      <span style="color: #AA6600">width</span>: <span style="color: #0000DD; font-weight: bold">125</span>px;
      background<span style="color: #333333">-</span><span style="color: #AA6600">color</span>: <span style="color: #888888">#4185F4;</span>
      <span style="color: #333333">-</span>webkit<span style="color: #333333">-</span><span style="color: #AA6600">animation</span>: to<span style="color: #333333">-</span>circle <span style="color: #0000DD; font-weight: bold">4</span>s infinite linear;
    }

    <span style="color: #FF0000; background-color: #FFAAAA">@</span><span style="color: #333333">-</span>webkit<span style="color: #333333">-</span>keyframes to<span style="color: #333333">-</span>circle {
      <span style="color: #0000DD; font-weight: bold">0</span><span style="color: #333333">%</span>    { border<span style="color: #333333">-</span><span style="color: #AA6600">radius</span>: <span style="color: #0000DD; font-weight: bold">0</span><span style="color: #DD2200; background-color: #fff0f0">%; }</span>
<span style="color: #DD2200; background-color: #fff0f0">      20%   { border-radius: 10%;</span> }
      <span style="color: #0000DD; font-weight: bold">40</span><span style="color: #333333">%</span>   { border<span style="color: #333333">-</span><span style="color: #AA6600">radius</span>: <span style="color: #0000DD; font-weight: bold">20</span><span style="color: #DD2200; background-color: #fff0f0">%; }</span>
<span style="color: #DD2200; background-color: #fff0f0">      60%   { border-radius: 30%;</span> }
      <span style="color: #0000DD; font-weight: bold">80</span><span style="color: #333333">%</span>   { border<span style="color: #333333">-</span><span style="color: #AA6600">radius</span>: <span style="color: #0000DD; font-weight: bold">40</span><span style="color: #DD2200; background-color: #fff0f0">%; }</span>
<span style="color: #DD2200; background-color: #fff0f0">      100%  { border-radius: 50%;</span> }
    }
</pre></div>
