<div class="container">
  <div class="row-page-start">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Rotating Box</h3>
        </div>
        <div class="panel-body text-center box-display">
          <div class="rotating">
          </div>
        </div>
        <hr/>
        <div class="panel-body">
          <%= render 'rotating_snippet' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Square to Circle</h3>
        </div>
        <div class="panel-body text-center box-display">
          <div class="square-to-circle rotating">
          </div>
        </div>
        <hr/>
        <div class="panel-body">
          <%= render 'square_to_circle_snippet' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Square to Circle and Back</h3>
        </div>
        <div class="panel-body text-center box-display">
          <div class="square-to-circle-and-back">
          </div>
        </div>
        <hr/>
        <div class="panel-body">
          <%= render 'square_to_circle_and_back_snippet' %>
        </div>
      </div>
    </div>
  </div>
</div>
