// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*basic styling================ */

body {
  background-color: #CBCBCB;
}

.row-page-start {
  margin-top: 30px;
}

.navbar-default {
  background-color: black;
  color: red;
}

.box-display {
  padding: 50px;
  text-align: center;
}

/*rotation ==================*/

.rotating {
  height: 125px;
  width: 125px;
  background-color: #4185F4;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  /*shorthand*/
  /*-webkit-animation: rotate 4s infinite linear;*/
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

/*square-to-circle ==================*/

.square-to-circle {
  height: 125px;
  width: 125px;
  background-color: #4185F4;
  -webkit-animation: to-circle 4s infinite linear;
}

@-webkit-keyframes to-circle {
  0%    { border-radius: 0%; }
  20%   { border-radius: 10%; }
  40%   { border-radius: 20%; }
  60%   { border-radius: 30%; }
  80%   { border-radius: 40%; }
  100%  { border-radius: 50%; }
}

/*square-to-and-back ==================*/

.square-to-circle-and-back {
  height: 125px;
  width: 125px;
  background-color: #4185F4;
  -webkit-animation: to-circle-and-back 4s infinite linear;
}

@-webkit-keyframes to-circle-and-back {
  0%    { border-radius: 0%; }
  10%   { border-radius: 10%; }
  20%   { border-radius: 20%; }
  30%   { border-radius: 30%; }
  40%   { border-radius: 40%; }
  50%   { border-radius: 50%; }
  60%   { border-radius: 40%; }
  70%   { border-radius: 30%; }
  80%   { border-radius: 20%; }
  90%   { border-radius: 10%; }
  100%  { border-radius: 0%; }
}

/*appear-from-left====================*/

.appear-from-left {
  height: 125px;
  width: 125px;
  background-color: #4185F4;
  -webkit-animation: appear-from-left 1s 1 ease-in;
}

@-webkit-keyframes appear-from-left {
  0%    { transform: translateX(-2em); }
  100%  { transform: translateX(0em); }
}

/*appear-from-right====================*/

.appear-from-right {
  height: 125px;
  width: 125px;
  background-color: #4185F4;
  -webkit-animation: appear-from-right 1s 1 ease-in;
}

@-webkit-keyframes appear-from-right {
  0%    { transform: translateX(2em); }
  100%  { transform: translateX(0em); }
}

/*cool icon menu builder==============*/

.round-icon {
  height: 100px;
  width: 100px;
  background-color: #4185F4;
  border-radius: 50%;
  margin: 25px;
  -webkit-animation: fly-in-from-bottom 1s 1 ease-out;
}

#icon-1 {
  -webkit-animation-duration: .5s;
}

#icon-2 {
  -webkit-animation-duration: .3s;
}

#icon-3 {
  -webkit-animation-duration: .4s;
}

#icon-4 {
  -webkit-animation-duration: .6s;
}

#icon-5 {
  -webkit-animation-duration: .4s;
}

#icon-6 {
  -webkit-animation-duration: .8s;
}

@-webkit-keyframes fly-in-from-bottom {
  0%    { transform: translateY(50em); }
  100%  { transform: translateY(0em); }
}
